# <!-- <IfModule authz_core_module>
#     Require all denied
# </IfModule>
# <IfModule !authz_core_module>
#     Deny from all
# </IfModule> -->

<IfModule mod_rewrite.c>
    RewriteEngine on
    #RewriteBase /project/
    RewriteCond $1 !^(index\.php|images|admin|robots\.txt)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^(index\.php|images|admin|robots\.txt)
    RewriteRule .* index.php/$0 [PT,L]
</IfModule>    